{% extends 'template/app.twig' %}

{% block title %}Log in | {{ global.site.name }}{% endblock %}

{% block headscripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %} 

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Log in</div>

                <div class="panel-body">
                    <form action="{{ path_for('auth.login') }}" method="post">
                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="hello@email.com" autocomplete="off" value="{{ old.email }}">
                            {% if errors.email %}
                                <span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" autocomplete="off">
                            {% if errors.password %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group{{ errors.recaptcha ? ' has-error' : '' }}">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha.key.site }}"></div>
                            {% if errors.recaptcha %}
                                <span class="help-block">{{ errors.recaptcha }}</span>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-default">Log in</button>

                        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}