{% extends 'template/app.twig' %}

{% block title %}Register | {{ global.site.name }}{% endblock %}

{% block headscripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}     

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>

                <div class="panel-body">
                    <form action="{{ path_for('auth.register') }}" method="post">
                        <div class="form-group{{ errors.name ? ' has-error' : '' }}">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Chuck Norris" autocomplete="off" value="{{ old.name }}">
                            {% if errors.name %}
                                <span class="help-block">{{ errors.name | first }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="hello@email.com" autocomplete="off" value="{{ old.email }}">
                            {% if errors.email %}
                                <span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" autocomplete="off">
                            {% if errors.password %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group{{ errors.password_confirm ? ' has-error' : '' }}">
                            <label for="password_confirm">Confirm password</label>
                            <input type="password" name="password_confirm" id="password_confirm" class="form-control" autocomplete="off">
                            {% if errors.password_confirm %}
                                <span class="help-block">{{ errors.password_confirm | first }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group{{ errors.recaptcha ? ' has-error' : '' }}">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha.key.site }}"></div>
                            {% if errors.recaptcha %}
                                <span class="help-block">{{ errors.recaptcha }}</span>
                            {% endif %}
                        </div>                        

                        <button type="submit" class="btn btn-default">Register</button>

                        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}