{% extends 'template/app.twig' %}

{% block title %}Home | {{ global.site.name }}{% endblock %}

{% block content %}
    {% if auth.check %}
        <h2>Hello, {{ auth.user.name }} :)</h2> 

        <p>You have access to the following areas:</p>

        <div class="area-links row">
            {% if auth.user.administratorAccess() %}
                <div class="col-sm-4">
                    <a href="{{ path_for('area.admin') }}" class="btn btn-success btn-block btn-lg">Administrators</a>
                </div>
            {% endif %}
            
            {% if auth.user.moderatorAccess() %}
                <div class="col-sm-4">
                    <a href="{{ path_for('area.moderator') }}" class="btn btn-warning btn-block btn-lg">Moderators</a>
                </div>
            {% endif %}

            <div class="col-sm-4">
                <a href="{{ path_for('area.standard') }}" class="btn btn-info btn-block btn-lg">Standard Users</a>
            </div>
        </div>
    {% else %}
        <h2>Welcome to {{ global.site.name }}!</h2>
        <p>Please <a href="{{ path_for('auth.login') }}">log in</a> or <a href="{{ path_for('auth.register') }}">register</a> for an account.</p>
    {% endif %}
{% endblock %}