{% extends 'template/app.twig' %}

{% block title %}Administrator Area | Clevercherry Auth{% endblock %}

{% block content %}
    <div class="alert alert-success"><h2>Administrator Area</h2></div>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nobis incidunt optio quod quis. Voluptatum magnam natus, laudantium officiis officia maiores ipsum eum, ab repellendus id consequatur. In, esse, tempora.</p>
{% endblock %}