{% extends 'template/app.twig' %}

{% block title %}Standard User Area | Clevercherry Auth{% endblock %}

{% block content %}
    <div class="alert alert-info"><h2>Standard User Area</h2></div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nobis incidunt optio quod quis. Voluptatum magnam natus, laudantium officiis officia maiores ipsum eum, ab repellendus id consequatur. In, esse, tempora.</p>
{% endblock %}