<h2>Activate your Clevercherry account</h2>

<p>Before you can log in to your account, you must first activate it.</p>

<p><a href="{{ url }}">Click this link</a> to activate your account.</p>

<p>Thank you for registering with us!</p>